@import "tailwindcss";

@font-face {
  font-family: Kalam;
  src: url("./assets/fonts/Kalam-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Kalam;
  src: url("./assets/fonts/Kalam-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Kalam;
  src: url("./assets/fonts/Kalam-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@layer base {
  :root {
    @apply font-prim bg-bgray-900;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply text-white;
  }

  a {
    cursor: pointer;
  }

  button {
    cursor: pointer;

    font-family: inherit;
  }
}

@layer components {
}

@theme {
  --font-prim: Inter, system-ui;
  --font-casual: Kalam;

  --color-byellow: hsl(40, 73%, 49%);
  --color-bred: hsl(2, 75%, 46%);

  --color-bgray-100: hsl(0, 0%, 53%);
  --color-bgray-200: hsl(0, 0%, 44%);
  --color-bgray-300: hsl(0, 0%, 23%);
  --color-bgray-400: hsl(0, 0%, 18%);
  --color-bgray-500: hsl(0, 0%, 10%);
  --color-bgray-600: hsl(0, 0%, 8%);
  --color-bgray-700: hsl(0, 0%, 6%);
  --color-bgray-800: hsl(0, 0%, 5%);
  --color-bgray-900: hsl(0, 0%, 3%);
}
